.App{
    display: grid;
    grid-template-areas: 
        "posts hash"
        "posts user"
        "posts ."
    ;

    grid-template-rows: max(25vw, 450px) 20vw;
    grid-template-columns: 60% 30%;

    row-gap: max(25px, 2.5vw);
    padding: 2.5%;

    align-content: center;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;

    background-color: #2F3136 ;
}

@media screen and (max-width: 1250px){
    .App{
        grid-template-areas: 
            "hash"
            "user"
            "posts"
        ;

        grid-template-rows: auto;
        grid-template-columns: 90%;
    }
}

.ContainerHashPost{
    grid-area: posts;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2.5vw;

    width: 90%;
    max-width: 900px;

    overflow-y: scroll;
}

.ContainerHashPost::-webkit-scrollbar {
    display: none;
}

.UserContainer{
    grid-area: user;
}

.Geohash{
    grid-area: hash;
}