:root{
    --spacing: max(2.5vw, 20px);
}

.HashPost{
    display: grid;
    grid-template-areas: 
        ". . ."
        "image image image"
        "pos date user"
    ;

    grid-template-columns: 30% 30% 30%;
    width: 100%;

    justify-items: center;
    justify-content: center;

    background-color: #424242;

    border-radius: 25px;

    color: #b9bbbe;
}

.HashPostImageContainer{
    grid-area: image;
    height: auto;
    width: auto;
    margin-top: 5%;
    border-radius: 10px;
    box-sizing: content-box;
}

.HashPostImage{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-sizing: content-box;
    
}

.HashPostPos{
    grid-area: pos;
    font-size: 1rem;
    justify-self: start;
    padding-bottom: var(--spacing);
    padding-top: calc(var(--spacing) / 2);
    padding-left: calc(var(--spacing) / 2);
    word-wrap: break-word;
}

.HashPostDate{
    grid-area: date;
    font-size: 1rem;
    padding-bottom: var(--spacing);
    padding-top: calc(var(--spacing) / 2);
}

.HashPostUser{
    grid-area: user;
    font-size: 1rem;
    font-weight: 900;
    padding-bottom: var(--spacing);
    padding-top: calc(var(--spacing) / 2);
    padding-right: calc(var(--spacing) / 2);
    color: #ffffff;
}